

@{
    Layout = null;

}

<form method="post">

    <label>First Name</label>
    <input type="text" name="firstName" value="@ViewBag.Firstname" />
    &nbsp;&nbsp;

    <label>Language</label>
    <select name="language">
        <option value="English" selected>English</option>
        <option value="Greek">Greek</option>
        <option value="Hindi">Hindi</option>
        <option value="German">German</option>
        <option value="Spanish">Spanish</option>
        <option value="French">French</option>
    </select>

    &nbsp; &nbsp;

    <button type="submit">Get Greeting</button>
</form>
</br>
</br>



<label style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"><strong>Greeting:</strong></label>
<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> @ViewBag.greeting</p>